<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Student Result Management System | Dashboard</title>
        <link rel="stylesheet" href="../css/bootstrap.min.css" media="screen" >
        <link rel="stylesheet" href="../css/font-awesome.min.css" media="screen" >
        <link rel="stylesheet" href="../css/animate-css/animate.min.css" media="screen" >
        <link rel="stylesheet" href="../css/lobipanel/lobipanel.min.css" media="screen" >
        <link rel="stylesheet" href="../css/toastr/toastr.min.css" media="screen" >
        <link rel="stylesheet" href="../css/icheck/skins/line/blue.css" >
        <link rel="stylesheet" href="../css/icheck/skins/line/red.css" >
        <link rel="stylesheet" href="../css/icheck/skins/line/green.css" >
        <link rel="stylesheet" href="../css/main.css" media="screen" >
        <script src="../js/modernizr/modernizr.min.js"></script>
    </head>
    <body class="top-navbar-fixed">
        <div class="main-wrapper">
            <div class="content-wrapper">

                <div class="content-container">
                  <%-include ../includes/topbar.ejs%>
                  <%-include ../includes/leftbar.ejs%>
                  <!---Body include here -->
                    <div class="main-page">
                        <div class="container-fluid col-sm-6 col-sm-offset-3">
                          <div class="row"><br>
                            <input type="text" class="btn-block" id='search' placeholder="Search Here..">
                          </div>
                        </div>
                        <div class="container-fluid col-sm-6 col-sm-offset-3 myBorder3 pre-scrollable">
                          <%vehicle.forEach(function(vehicle){%>
                            <p class="dataModel"><%-vehicle.brand%> <%-vehicle.model%></p>
                          <%})%>
                        </div>

                        <script type="text/javascript">
                              $('document').ready(function(){
                                $("#search").on("keyup", function() {
                                  var value = $(this).val().toLowerCase();
                                  $(".myBorder3 .dataModel").filter(function() {
                                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                                  });
                                });
                              });
                                
                        </script>

                        <style type="text/css">


                          .myBorder3{
                            margin-top:20px;
                            border:1px solid #ccc;
                            height:160px;
                          }
                        </style>


                        <div class="container-fluid col-sm-6 col-sm-offset-3 myBorder">
                          
                            <p class="h2">Add Vehicle:</p>
                            <hr>
                            <div class="form-group">
                              <label for="vehicleBrand">Vehicle Brand:</label>
                              <input type="text" class="form-control" id="vehicleBrand">
                            </div>

                            <div class="form-group">
                              <label for="exampleInputEmail1">Vehicle Model:</label>
                              <input type="text" class="form-control" id="vehicleModel">
                            </div>

                            <div class="form-group">
                              <label for="exampleInputEmail1">Year Model: (Optional)</label>
                              <input type="text" class="form-control" id="modelYear">
                            </div>
                            <div class="col-sm-12">
                              <div class="row">
                                <div class="col-sm-6">
                                  <button type="submit" id="submitBtn" class="btn btn-success btn-block">Submit</button>
                                </div>

                                <div class="col-sm-6">
                                  <a href='/admin/landing' class="btn btn-danger btn-block">Cancel</a>
                                </div>
                                
          
                              </div>
                            </div>
                            
                          
                        </div>


                        
                    </div>
                    <!-- /.main-page -->
                </div>
                <!-- /.content-container -->
            </div>
            <!-- /.content-wrapper -->
        </div>



        <script src="../js/jquery/jquery-2.2.4.min.js"></script>
        <script src="../js/jquery-ui/jquery-ui.min.js"></script>
        <script src="../js/bootstrap/bootstrap.min.js"></script>
        <script src="../js/pace/pace.min.js"></script>
        <script src="../js/lobipanel/lobipanel.min.js"></script>
        <script src="../js/iscroll/iscroll.js"></script>

        <!-- ========== PAGE JS FILES ========== -->
        <script src="../js/prism/prism.js"></script>
        <script src="../js/waypoint/waypoints.min.js"></script>
        <script src="../js/counterUp/jquery.counterup.min.js"></script>
        <script src="../js/amcharts/amcharts.js"></script>
        <script src="../js/amcharts/serial.js"></script>
        <script src="../js/amcharts/plugins/export/export.min.js"></script>
        <link rel="stylesheet" href="js/amcharts/plugins/export/export.css" type="text/css" media="all" />
        <script src="../js/amcharts/themes/light.js"></script>
        <script src="../js/toastr/toastr.min.js"></script>
        <script src="../js/icheck/icheck.min.js"></script>

        <!-- ========== THEME JS ========== -->
        <script src="../js/main.js"></script>
        <script src="../js/production-chart.js"></script>
        <script src="../js/traffic-chart.js"></script>
        <script src="../js/task-list.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
        <script>
            $(function(){

                // Counter for dashboard stats
                $('.counter').counterUp({
                    delay: 10,
                    time: 1000
                });

                // Welcome notification
                toastr.options = {
                  "closeButton": true,
                  "debug": false,
                  "newestOnTop": false,
                  "progressBar": false,
                  "positionClass": "toast-top-right",
                  "preventDuplicates": false,
                  "onclick": null,
                  "showDuration": "300",
                  "hideDuration": "1000",
                  "timeOut": "5000",
                  "extendedTimeOut": "1000",
                  "showEasing": "swing",
                  "hideEasing": "linear",
                  "showMethod": "fadeIn",
                  "hideMethod": "fadeOut"
                }
                //toastr["success"]("<%-fullname%>, Welcome to NEDA Management System!");

            });
        </script>


        <script type="text/javascript">
          
          $('document').ready(function(){
          $('#submitBtn').click(function(){

            var brand = $('#vehicleBrand').val();
            var model = $('#vehicleModel').val();
            var year = $('#modelYear').val();

            if (year === ''){
              year = 'Not Specified';
            }

            if(model === ''){
              model = '(Not Specified)'
            }

            if(brand === ''){
              $.alert('Do not leave Vehicle Brand Empty.')
            }else{

              $.post('/add_vehicle',{
                brand: brand,
                model: model,
                year: year
              });
              
              $.confirm({
                  title: 'Data Saved Successfully',
                  content: 'Do you want to Add more data?',
                  autoClose: 'cancel|10000',
                  boxWidth: '70%',
                  useBootstrap: false,
                 type: 'green',
                  icon: 'fa fa-check-circle',
                  buttons: {
                     deleteUser: {
                       text: 'Yes',
                       btnClass: 'btn-green',
                        action: function () {
                          
                          location.reload();

                       }
                     },
                      no: function () {
                       window.location.href = "/admin/landing"
                       return false;
                      }
                  }
              });
            }


        

            
          });
        });




        </script>
    </body>
</html>



<style type="text/css">
  p{
    padding:0;
  }
  input[type='text']{
    margin:0;
  }

  .myBorder{
    border:1px solid #ccc;
    padding-bottom:20px;
    margin-top:30px;
    background-color:white;
  }

  
  .row .col-sm-6{
    padding:1px;
  }
</style>