
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>NEDA</title>
        <link rel="stylesheet" href="../css/bootstrap.min.css" media="screen" >
        <link rel="stylesheet" href="../css/font-awesome.min.css" media="screen" >
        <link rel="stylesheet" href="../css/animate-css/animate.min.css" media="screen" >
        <link rel="stylesheet" href="../css/lobipanel/lobipanel.min.css" media="screen" >
        <link rel="stylesheet" href="../css/toastr/toastr.min.css" media="screen" >
        <link rel="stylesheet" href="../css/icheck/skins/line/blue.css" >
        <link rel="stylesheet" href="../css/icheck/skins/line/red.css" >
        <link rel="stylesheet" href="../css/icheck/skins/line/green.css" >
        <link rel="stylesheet" href="../css/main.css" media="screen" >
        <script src="../js/modernizr/modernizr.min.js"></script>
    </head>
    <body class="top-navbar-fixed">
        <div class="main-wrapper">
            <div class="content-wrapper">

                <div class="content-container">
                  <div class="hidden-sm">
                   <%-include ../includes/topbar.ejs%>
                  </div>
                  <%-include ../includes/leftbar.ejs%>
                  <!---Body include here -->
                    <div class="main-page">
                        <div class="container-fluid">



                          <div class="col-sm-5 col-sm-offset-7 myPadding"><br>
                                <input type="text" class="btn-block" id="myInput" name="" placeholder="Search Here...">
                            </div>

                            <style type="text/css">
                              .maxWidth{
                                width:100%;
                                max-height:500px;
                                
                              }

                              
                            </style>
                          <div class="maxWidth pre-scrollable">
                          <table class="table" id="myTable">
                              <thead class="thead-dark">
                                <tr>
                                  <th class="plate" scope="col">Plate No</th>
                                  <th class="owner hidden-xs" scope="col">Owner</th>
                                  <th class="action text-center" scope="col">Action</th>
                                </tr>
                              </thead>
                              <tbody>

                              
                                <%owners.forEach(function(owner){%>
                                <tr class="myData">
                                  <td><%-owner.plate_no.toUpperCase()%></td>
                                  <td class="hidden-xs"><%-owner.fullname.toUpperCase()%></td>
                                  <td class="text-center">
                                    <a href="/admin/view-full-owner/<%-owner._id%>">View</a> &nbsp | &nbsp
                                    <a href="/admin/edit-vehicle-and-owner-info/<%-owner._id%>">Edit</a> &nbsp | &nbsp
                                    <a class="deleteBtn" delete="<%-owner._id%>" href="#">Delete</a> 
                                  </td>
                                </tr>
                                <%})%>
                                
                              </tbody>
                            </table>
                            </div>        
                        </div>
                    </div>
                    <!-- /.main-page -->


                </div>
                <!-- /.content-container -->
            </div>
            <!-- /.content-wrapper -->
        </div>



        <script src="../js/jquery/jquery-2.2.4.min.js"></script>
        <script src="../js/jquery-ui/jquery-ui.min.js"></script>
        <script src="../js/bootstrap/bootstrap.min.js"></script>
        <script src="../js/pace/pace.min.js"></script>
        <script src="../js/lobipanel/lobipanel.min.js"></script>
        <script src="../js/iscroll/iscroll.js"></script>

        <!-- ========== PAGE JS FILES ========== -->
        <script src="../js/prism/prism.js"></script>
        <script src="../js/waypoint/waypoints.min.js"></script>
        <script src="../js/counterUp/jquery.counterup.min.js"></script>
        <script src="../js/amcharts/amcharts.js"></script>
        <script src="../js/amcharts/serial.js"></script>
        <script src="../js/amcharts/plugins/export/export.min.js"></script>
        <link rel="stylesheet" href="js/amcharts/plugins/export/export.css" type="text/css" media="all" />
        <script src="../js/amcharts/themes/light.js"></script>
        <script src="../js/toastr/toastr.min.js"></script>
        <script src="../js/icheck/icheck.min.js"></script>

        <!-- ========== THEME JS ========== -->
        <script src="../js/main.js"></script>
        <script src="../js/production-chart.js"></script>
        <script src="../js/traffic-chart.js"></script>
        <script src="../js/task-list.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
        <script>
            $(function(){

                // Counter for dashboard stats
                $('.counter').counterUp({
                    delay: 10,
                    time: 1000
                });

                // Welcome notification
                toastr.options = {
                  "closeButton": true,
                  "debug": false,
                  "newestOnTop": false,
                  "progressBar": false,
                  "positionClass": "toast-top-right",
                  "preventDuplicates": false,
                  "onclick": null,
                  "showDuration": "300",
                  "hideDuration": "1000",
                  "timeOut": "5000",
                  "extendedTimeOut": "1000",
                  "showEasing": "swing",
                  "hideEasing": "linear",
                  "showMethod": "fadeIn",
                  "hideMethod": "fadeOut"
                }
                //toastr["success"]("<%-fullname%>, Welcome to NEDA Management System!");

            });


            $('document').ready(function(){
                

                $("#myInput").on("keyup", function() {
                    var value = $(this).val().toLowerCase();
                    $("#myTable tr.myData").filter(function() {
                      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                    });
                  });


                $("a.deleteBtn").click(function(){
                  var id = $(this).attr('delete');
                  
                  $.confirm({
                       title: 'Delete?',
                       content: 'This dialog will automatically trigger \'cancel\' in 10 seconds if you don\'t respond.',
                       autoClose: 'cancel|10000',
                       boxWidth: '70%',
                       useBootstrap: false,
                       type: 'red',
                       icon: 'fa fa-warning',
                       buttons: {
                           deleteUser: {
                             text: 'Delete',
                             btnClass: 'btn-red',
                             action: function () {
                               $.post('/delete-owner-info', {
                                  id: id
                                })
                               alert('Data Deleted')
                               location.reload();
                               
                               
                               
                             }
                           },
                           cancel: function () {
                             $.alert("Operation Cancelled");
                           }
                       }
                   });
            
                  
                })
            });
        </script>
    </body>
</html>


<style>
    td.text-center{
    color:steelblue;
  }

  tr.myData:hover{
    background-color:rgb(210,210,210);
  }
</style>
